.l-path
  position fixed
  top 0
  left 0
  width 100%
  height topbar-height
  padding-left unit
  border-bottom 2px solid #ccc
  background-color #fff
  z-index 100
  padding-right 200px
  overflow hidden

.path-list
  small-text()
  overflow-x scroll
  overflow-y hidden
  white-space nowrap
  line-height topbar-height
  padding-right 100px

  &__item
    display inline-block
    cursor pointer
    &__wrap
      display inline-block
      max-width 300px
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      margin-right 5px
      color  disabled-text
      font-weight bold
      transition 0.3s color
      &.is-hovered
        color black
      &.will-be-chopped
        color pink
    &:after
      content '>'
      font-weight bold
      vertical-align top
      color disabled-text
      margin-right 10px
    &:last-child:after
      content ''

