.l-path
  position fixed
  top 0
  left 0
  width 100%
  height topbar-height
  padding-left unit
  border-bottom 2px solid #ccc
  background-color #fff
  z-index 100
  padding-right 360px
  overflow hidden
  +mobile()
    display none

.path-list
  pt-serif()
  overflow-x scroll
  overflow-y hidden
  white-space nowrap
  line-height topbar-height

  &__item
    display inline-block
    // transition 0.3s color
    color  disabled-text
    cursor pointer
    &__wrap
      display inline-block
      max-width 300px
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      margin-right 5px
      font-weight bold
    &.is-hovered, &:only-child
      color black
    &.will-be-chopped
      color chopped
    &:after
      content '>'
      font-weight bold
      vertical-align top
      color disabled-text
      margin-right 10px
    &:last-child:after
      content ''

