.l-map
  clearfix()
  margin 0
  padding 0
  position fixed
  top topbar-height
  bottom 0
  width 100%
  height 100%
  overflow scroll

  svg
    position absolute

.node
  text
    action-link()
    sans()
    font-size 13px
    max-width 200px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    background-color #fff
    z-index 100
  circle
    fill #fff
    stroke black
    stroke-width 1px
  &:hover text
    fill #000

.path-link
  fill none
  stroke #000
  stroke-opacity 1
  stroke-width 3px
