.l-abstract
  clearfix()
  margin 0
  padding 0
  position absolute
  top topbar-height
  bottom 0
  width 100%
  overflow-x scroll
  overflow-y hidden
  white-space nowrap

.linkAbstract.is-expanded
  padding unit
  list-style-type none
  max-width 400px
  display inline-block
  height 100%
  overflow auto
  white-space normal

.ab-title
  font-size 1.4rem
  line-height 1.6rem
  padding unit
  text-align center
  a
    color black
    text-decoration none
  a:hover
    text-decoration underline

.ab-content
  color light-text
  padding-bottom (unit / 2)
  p(1rem)

  video, iframe
    max-width 100% !important

  p
    font-size 1rem

  img
    max-width 100%
    height auto

  figure
    margin 0

  figcaption
    background-color #eee
    padding (unit/2)
    p
      font-size 0.7rem

  h1, h2, h3, h4, h5
    h4()

  table
    display none

.ab-image
  img
    max-width 100%

.ab-divider
  border none
  border-top 1px solid #eee
  margin unit 0

.ab-tag
  margin-right (unit / 4)
  font-family "Arial"
  font-size .8rem
  text-transform uppercase
  padding-bottom (unit / 2)

  a
    text-decoration none
    color light-text

.childlink
  small-text()
  color #0042AD
  cursor pointer
  word-break break-all

ul
  ul()

// overrides
.visually-hidden,
.ad,
.hidden,
.interactive,
iframe,
.inline-icon,
.u-h,
.synved-social-button
  display none

.aspectRatioPlaceholder-fill
  padding-bottom 0 !important
