.l-links
  clearfix()
  margin 0
  padding 0
  position absolute
  top topbar-height
  bottom 0
  width 100%
  overflow-x scroll
  overflow-y hidden
  white-space nowrap

.link
  padding (unit) (unit * 3)
  list-style-type none
  width column-width
  display inline-block
  height 100%
  overflow-y scroll
  overflow-x hidden
  white-space normal
  vertical-align top
  opacity 0.8
  // transition 0.3s opacity

  *
    float none !important

  &.is-hovered, &:only-child
    opacity 1

  &.has-no-content
    background-color error-bg

  &:first-child
    margin-left "calc(50% - %s)" % (column-width / 2)

  &.will-be-chopped
    .link-title a
      color chopped
    .link-title__link
      border 1px solid chopped
    .link-content
      color chopped
      a
        color chopped
      img
        opacity 0.1

.link-title
  font-size 1.8rem
  line-height 2rem
  padding unit
  text-align center
  a
    color black
    text-decoration none
  a:hover
    text-decoration underline
  &__link
    display block
    padding unit
  &__domain
    domain()

.link-content
  color light-text
  padding-bottom (unit / 2)
  p(17px)
  margin 1.25em 0

  video, iframe
    max-width 100% !important

  p, span
    p(17px)
    margin 1.25em 0

  img
    max-width 100%
    height auto

  figure
    margin 0

  figcaption
    background-color #eee
    padding (unit/2)
    font-size 12px
    line-height 18px
    margin-bottom unit * 2

  h1, h2, h3, h4, h5
    h4()

  table
    display none
  ul
    ul()

  a.is-active
    background-color highlight

  a[href$=".pdf"]
    cursor alias
  a[href$=".jpg"],
  a[href$=".jpeg"],
  a[href$=".png"],
  a[href$=".gif"]
    pointer-events none
    cursor default

.link-content__error
  @extend .link-content
  &:before
    content '!'
    display block
    margin unit auto (unit * 2)
    border 1px solid light-text
    padding 20px
    max-width 26px
    font-size 2rem
    text-align center
    border-radius 50px

  font-weight normal

.link-image
  img
    max-width 100%

.link-divider
  border none
  border-top 1px solid #eee
  margin unit 0

@require './overrides'
