// overrides
.visually-hidden,
.ad,
.hidden,
.interactive,
iframe,
.inline-icon,
.u-h,
.synved-social-button
.toc,
[data-skip],
.mw-editsection,
sup
  display none

.aspectRatioPlaceholder-fill
  padding-bottom 0 !important

[data-host="www.youtube.com"], [data-host="www.vimeo.com"]
  iframe
    display block
    width 100%
    height 300px
