global-reset()
normalize-css()

@require './variables.styl'

body-text()
  font-family 'Lora', serif

header-text()
  font-family 'Lora', serif
  font-weight normal

small-text()
  font-family Arial
  font-size 14px
  line-height 16px

html, body
  body-text()

  b, strong
    font-weight 700

.l-home
  text-align center
  margin-top 20%

h1
  h1()

h2
  h2()

h3
  h3()

h4
  h4()

h5
  h5()

h6
  h6()

p
  p()

hr
  rule()

ul
  ul()
