global-reset()
normalize-css()

@require './variables.styl'

body-text()
  font-family 'Lora', serif

header-text()
  font-family 'Lora', serif
  font-weight normal

small-text()
  font-family Arial
  font-size 14px
  line-height 16px
  text-transform uppercase

html, body, #root
  -webkit-font-smoothing antialiased
  body-text()
  height 100%
  margin 0
  padding 0

  b, strong
    font-weight 700

.l-home
  text-align center
  margin-top 15%

  .home-content
    width 400px
    margin 0 auto
    text-align left
    ul
      line-height 1.5
  .home-snippet
    display block
    width 200px
    border 1px solid #aaa
    padding unit
    margin unit auto
    text-align center
    text-decoration none
    color black

.l-explore
  width 100%
  height 100%
  margin auto
  position relative

::-webkit-scrollbar
  width 0px
::-webkit-scrollbar-track-piece
  background-color transparent
  -webkit-border-radius 6px

h1
  h1()

h2
  h2()

h3
  h3()

h4
  h4()

h5
  h5()

h6
  h6()

p
  p()

hr
  rule()

ul
  ul()
