// sizes
unit = 20px
topbar-height = 50px
column-width = 680px
dialog-width = 350px

// colors
disabled-text = #aaa
light-text = #333
error-bg = #FFE5E9
chopped = #E393B0
highlight = #FF0
link-color = #0000EE
closed = #4B3D67
public = #17AC10
private = #B60202
