size = 50px

.l-view-mode
  position fixed
  bottom size
  left size
  +mobile()
    display none

.view-mode-link
  display block
  width size
  height size
  border-radius size
  border 2px solid #ccc
  background-color #fff
  text-transform uppercase
  line-height size
  text-align center
  action-link()
  font-size 14px

  &.is-active
    color #000
    border 2px solid #000
