size = 30px

.l-view-mode
  position fixed
  bottom 20px
  left 20px

.view-mode-link
  display block
  width size
  height size
  border-radius size
  border 2px solid #ccc
  background-color #fff
  text-transform uppercase
  line-height size
  text-align center
  action-link()
  font-size 10px

  &.is-active
    color #000
    border 2px solid #000
