.l-home
  text-align center
  margin-top 15%

.home
  .home-content
    width 400px
    margin 0 auto
    text-align left
    ul
      line-height 1.5
  .home-snippet
    display block
    width 200px
    border 1px solid #aaa
    padding unit
    margin unit auto
    text-align center
    text-decoration none
    color black
