.l-loading
  position fixed
  left 0
  top topbar-height - 2
  width 100%
  height 2px
  text-align right
  padding-right unit
  z-index 100
  +mobile()
    top 1px

.loading--bar
  width 0%
  height 100%
  background-color black
  opacity 1
  z-index 100

.loading--start
  .loading--bar
    animation start_loading
    animation-duration 3s
    animation-iteration-count 1
    animation-fill-mode forwards

.loading--done
  .loading--bar
    animation finish_loading
    animation-duration 1s
    animation-iteration-count 1

@keyframes start_loading
  0%
    width 0%
  10%
    width 20%
  50%
    width 40%
  100%
    width 99%

@keyframes finish_loading
  from
    opacity 1
  to
    width 100%
    opacity 0
