.saved-path-link
  position fixed
  right 150px
  top 0px
  width 130px
  height topbar-height
  text-align right
  padding-right unit
  display flex
  justify-content flex-end
  align-items right
  +mobile()
    display none

  span
    action-link()
    line-height topbar-height

  input[type="text"]
    code()
    color light-text
    width 100%
    font-size 10px
    padding 5px
    border none
    height 30px
    margin-top 9px
    text-align center
    &:focus
      outline none
