.save-contents-link
  position fixed
  right 10px
  top 0px
  width 140px
  height topbar-height
  text-align right
  padding-right unit
  display flex
  justify-content flex-end
  align-items right
  +mobile()
    display none

  span
    action-link()
    line-height topbar-height
